<!DOCTYPE html> <!-- HTML-->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css">
    <script></script>
</head>
<header>    
    <label>Honey Plumz</label>
</header>
<body>
    <div id="root">
        <h1 .title>Honey Plumz LLC
        </h1>
        <div>
            <nav>
                <div>
                <a href="./index.html">Home</a>
                <a href="./products.html">Products</a>
                <a href="./about.html">About Us</a>
                <a href="./contact.html">Contact Us</a>
                </div>
                <div>
                <a href="">My Cart</a>
                </div>
            </nav>
        </div>
        <div>
            <div>
                <h1>Hello World</h1>
            </div>
            <div>
                <h2>A Template for HTML</h2>
            </div>
            <p>
                This is the body of the web page. Here we will insert a brief description of the company such as the company vision
                or the company mission statement.
                <div>
                    <ul>
                        <li>List Item #1</li>
                        <li>List Item #2</li>
                        <li>List Item #3</li>
                        <li>List Item #4</li>
                    </ul>
                </div>
            </p>
        </div>
    </div>
</body>

</html>