<html lang="en">
  <head>

  </head>
  <body>
  <main>

    <div class="_342iDZ9a" data-testid="blog-navbars">
      <nav class="_1kK_0Nge _2JzVaAb5 ap5SohHH _2ExEwWJ-">
        <nav
        id="article-nav"
        aria-label="Article navbar"
        class="pVDj25o4 _1HSbf6l8 ap5SohHH"
      >
        <div data-testid="sticky-nav-container" class="CwHwCIsY _3n2LMBAS">
          <div class="_2WQ1bk3l">
            <div class="_58Zij-Oo _1gM6aSr1">
              <a
                href="https://www.toptal.com/developers"
                title="Toptal Developers: Hire Developers from the Top 3%"
                aria-label="Toptal Developers: Hire Developers from the Top 3%"
                class="_27w5BS2q"
                ><div data-testid="emblem" class="aowwyHr4 JZBjwybU">
                  <svg
                    height="32"
                    viewBox="0 0 23 32"
                    width="23"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="m1323.82532 2153 7.29254 7.29278c.05306.04705.10612.09998.16507.15879l6.36107 6.36354-10.34632 10.29222 4.73985 4.74031-3.17169 3.15236-7.24537-7.24573c-.08254-.07645-.17097-.16467-.2594-.25289l-6.36107-6.35766 10.31095-10.25105-4.69859-4.69914zm4.61606 11.42731c-.09433-.02941-.18865-.02941-.28298 0-.09433.02353-.17686.07058-.34193.23525l-5.88945 5.86363c-.17096.17056-.21223.24701-.2417.34111-.02948.0941-.02948.1882 0 .2823.02947.09411.07664.17644.2417.34112l1.86883 1.87024c.17096.17056.2476.21173.34193.24114.09432.0294.18865.0294.28297 0 .09433-.02941.17686-.07058.33604-.23526l5.88944-5.86362c.17097-.17056.21224-.24702.24171-.34112.02948-.0941.02948-.1882 0-.2823-.02358-.0941-.07074-.17644-.23581-.34111l-1.86882-1.87025c-.17097-.17055-.24761-.21172-.34193-.24113z"
                      fill="#204ecf"
                      fill-rule="evenodd"
                      transform="translate(-1315 -2153)"
                    ></path>
                  </svg>
                </div>
                <div class="_2yx3tQoS"><span>®</span></div></a
              >
            </div>
          </div>
          <div class="_1GiO8AKJ">
            <a href="/top-3-percent" class="_3HIyy71x _3lLkP9tf">Top 3%</a
            ><a href="/why" class="_3HIyy71x _3lLkP9tf">Why</a
            ><a href="/clients" class="_3HIyy71x _3lLkP9tf">Clients</a
            ><a href="/enterprise" class="_3HIyy71x _3lLkP9tf">Enterprise</a
            ><a href="/community" class="_3HIyy71x _3lLkP9tf">Community</a
            ><a
              href="https://www.toptal.com/developers/blog"
              class="_3HIyy71x _3lLkP9tf _1KG9sRyQ"
              >Blog</a
            ><a href="/about" class="_3HIyy71x _3lLkP9tf">About Us</a>
          </div>
          <ul id="navbar-actions-toolbar" class="_2-orxLiH _1vHiR8N9">
            <li class="_2GrBzF_x">
              <a
                href="https://www.toptal.com/talent/apply?as=developer"
                data-ga-category="Apply as a [Vertical] Nav Bar CTA"
                data-ga-event="Apply as a [Vertical] Nav Bar CTA click"
                data-ga-label="Apply as a Developer"
                data-testid="nav-cta"
                class="_VpNOV2k mp--Cnww _1bcYCljm Mw_6M_G0 _3McSaz1R"
                >Apply as a Developer</a
              >
            </li>
            <li class="_2GrBzF_x _2j8Bi4Lq">
              <a
                href="/hire?interested_in=developers"
                data-ga-category="Hire a Vertical Nav Bar CTA"
                data-ga-event="Hire a Vertical Nav Bar CTA click"
                data-ga-label="Hire a Developer"
                data-testid="nav-cta"
                class="_VpNOV2k _1bcYCljm _2u-I7BW0 _3McSaz1R"
                >Hire a Developer</a
              >
            </li>
            <li class="_2GrBzF_x">
              <a
                href="/users/login"
                data-ga-category="Login Nav Bar CTA"
                data-ga-event="Login Nav Bar CTA click"
                data-ga-label="Log in"
                data-testid="nav-cta"
                rel="nofollow"
                class="_VpNOV2k mp--Cnww _1bcYCljm Mw_6M_G0 _3McSaz1R"
                >Log In</a
              >
            </li>
          </ul>
          <button
            type="button"
            aria-label="menu"
            data-testid="burger-menu-button"
            class="_2zORpOH1 _149kcYtF"
          >
            <span></span><span></span><span></span>
          </button>
        </div>
      </nav>
      <div class="_3WoZe7Xx ap5SohHH _2ExEwWJ-">
        <div
          class="progress-bar _1fXVTrG1 _1eARy1B_"
          data-testid="reading-progress"
        >
          <div
            data-testid="progress-bar"
            class="_1PPGd7Hv _1CUeORfD"
            style="width: 52.2982%; transition-duration: 0.1s"
          ></div>
        </div>
      </div>
    </nav>
    <nav id="nav" aria-label="Main" class="_29EtyuhP pVDj25o4 _1HSbf6l8 ap5SohHH">
      <div data-testid="nav-container" class="CwHwCIsY _3n2LMBAS">
        <div class="_2WQ1bk3l">
          <div class="_58Zij-Oo">
            <a
              href="https://www.toptal.com/developers"
              title="Toptal Developers: Hire Developers from the Top 3%"
              aria-label="Toptal Developers: Hire Developers from the Top 3%"
              class="_27w5BS2q"
              ><div data-testid="emblem" class="aowwyHr4 JZBjwybU">
                <svg
                  height="32"
                  viewBox="0 0 23 32"
                  width="23"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="m1323.82532 2153 7.29254 7.29278c.05306.04705.10612.09998.16507.15879l6.36107 6.36354-10.34632 10.29222 4.73985 4.74031-3.17169 3.15236-7.24537-7.24573c-.08254-.07645-.17097-.16467-.2594-.25289l-6.36107-6.35766 10.31095-10.25105-4.69859-4.69914zm4.61606 11.42731c-.09433-.02941-.18865-.02941-.28298 0-.09433.02353-.17686.07058-.34193.23525l-5.88945 5.86363c-.17096.17056-.21223.24701-.2417.34111-.02948.0941-.02948.1882 0 .2823.02947.09411.07664.17644.2417.34112l1.86883 1.87024c.17096.17056.2476.21173.34193.24114.09432.0294.18865.0294.28297 0 .09433-.02941.17686-.07058.33604-.23526l5.88944-5.86362c.17097-.17056.21224-.24702.24171-.34112.02948-.0941.02948-.1882 0-.2823-.02358-.0941-.07074-.17644-.23581-.34111l-1.86882-1.87025c-.17097-.17055-.24761-.21172-.34193-.24113z"
                    fill="#204ecf"
                    fill-rule="evenodd"
                    transform="translate(-1315 -2153)"
                  ></path>
                </svg>
              </div>
              <div class="_2yx3tQoS"><span>®</span></div>
              <div data-testid="logo-suffix" class="_1KvUc_3R">Developers</div></a
            >
          </div>
        </div>
        <div class="_1GiO8AKJ">
          <a href="/top-3-percent" class="_3HIyy71x _3lLkP9tf">Top 3%</a
          ><a href="/why" class="_3HIyy71x _3lLkP9tf">Why</a
          ><a href="/clients" class="_3HIyy71x _3lLkP9tf">Clients</a
          ><a href="/enterprise" class="_3HIyy71x _3lLkP9tf">Enterprise</a
          ><a href="/community" class="_3HIyy71x _3lLkP9tf">Community</a
          ><a
            href="https://www.toptal.com/developers/blog"
            class="_3HIyy71x _3lLkP9tf _1KG9sRyQ"
            >Blog</a
          ><a href="/about" class="_3HIyy71x _3lLkP9tf">About Us</a>
        </div>
        <ul id="navbar-actions-toolbar" class="_2-orxLiH _1vHiR8N9">
          <li class="_2GrBzF_x">
            <a
              href="https://www.toptal.com/talent/apply?as=developer"
              data-ga-category="Apply as a [Vertical] Nav Bar CTA"
              data-ga-event="Apply as a [Vertical] Nav Bar CTA click"
              data-ga-label="Apply as a Developer"
              data-testid="nav-cta"
              class="_VpNOV2k mp--Cnww _1bcYCljm Mw_6M_G0 _3McSaz1R"
              >Apply as a Developer</a
            >
          </li>
          <li class="_2GrBzF_x _2j8Bi4Lq">
            <a
              href="/hire?interested_in=developers"
              data-ga-category="Hire a Vertical Nav Bar CTA"
              data-ga-event="Hire a Vertical Nav Bar CTA click"
              data-ga-label="Hire a Developer"
              data-testid="nav-cta"
              class="_VpNOV2k _1bcYCljm _2u-I7BW0 _3McSaz1R"
              >Hire a Developer</a
            >
          </li>
          <li class="_2GrBzF_x">
            <a
              href="/users/login"
              data-ga-category="Login Nav Bar CTA"
              data-ga-event="Login Nav Bar CTA click"
              data-ga-label="Log in"
              data-testid="nav-cta"
              rel="nofollow"
              class="_VpNOV2k mp--Cnww _1bcYCljm Mw_6M_G0 _3McSaz1R"
              >Log In</a
            >
          </li>
        </ul>
        <button
          type="button"
          aria-label="menu"
          data-testid="burger-menu-button"
          class="_2zORpOH1 _149kcYtF"
        >
          <span></span><span></span><span></span>
        </button>
      </div>
    </nav>
    <div class="_37dgRDmD _1YibmBYc _3LOPUP7d _2_32njdU">
      <nav data-testid="blog-menu" aria-label="Blog Menu" class="_3EV7it8Z">
        <div class="_2hLS7AZK">
          <button class="_3pDRDdcc" aria-controls="blog-menu-dropdown">
            Engineering<svg
              viewBox="0 0 512 512"
              class="hjbV3o3z"
              role="presentation"
            >
              <path
                fill="currentColor"
                d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"
              ></path>
            </svg>
          </button>
          <ul class="_2BvqpjiM" id="blog-menu-dropdown" hidden="">
            <li>
              <a
                href="https://www.toptal.com/developers/blog"
                aria-current="page"
                class=""
                ><img
                  alt=""
                  data-checker=""
                  class="_3Ow9tdzp"
                  src="https://assets.toptal.io/images?url=https%3A%2F%2Fbs-uploads.toptal.io%2Fblackfish-uploads%2Fcomponents%2Fblog_domain_page%2Fcontent%2Ficon_file%2Ficon%2F1085664%2Fengineering-146168ba63ad8d24c415ceb21fb0d5d7.svg"
                  decoding="async"
                />Engineering</a
              >
            </li>
            <li>
              <a
                href="https://www.toptal.com/designers/blog"
                aria-current="false"
                class=""
                ><img
                  alt=""
                  data-checker=""
                  class="_3Ow9tdzp"
                  src="https://assets.toptal.io/images?url=https%3A%2F%2Fbs-uploads.toptal.io%2Fblackfish-uploads%2Fcomponents%2Fblog_domain_page%2Fcontent%2Ficon_file%2Ficon%2F1085675%2Fdesign-0b825816c47b2bfe1038febc7c35d988.svg"
                  decoding="async"
                />Design</a
              >
            </li>
            <li>
              <a
                href="https://www.toptal.com/finance/blog"
                aria-current="false"
                class=""
                ><img
                  alt=""
                  data-checker=""
                  class="_3Ow9tdzp"
                  src="https://assets.toptal.io/images?url=https%3A%2F%2Fbs-uploads.toptal.io%2Fblackfish-uploads%2Fcomponents%2Fblog_domain_page%2Fcontent%2Ficon_file%2Ficon%2F1085686%2Ffinance-6ce5d02055ffb2963d43de69b4eeda1d.svg"
                  decoding="async"
                />Finance</a
              >
            </li>
            <li>
              <a
                href="https://www.toptal.com/project-managers/blog"
                aria-current="false"
                class=""
                ><img
                  alt=""
                  data-checker=""
                  class="_3Ow9tdzp"
                  src="https://assets.toptal.io/images?url=https%3A%2F%2Fbs-uploads.toptal.io%2Fblackfish-uploads%2Fcomponents%2Fblog_domain_page%2Fcontent%2Ficon_file%2Ficon%2F1085693%2Fprojects-66deb60b219896816b43bcec142c7a12.svg"
                  decoding="async"
                />Projects</a
              >
            </li>
            <li>
              <a
                href="https://www.toptal.com/product-managers/blog"
                aria-current="false"
                class=""
                ><img
                  alt=""
                  data-checker=""
                  class="_3Ow9tdzp"
                  src="https://assets.toptal.io/images?url=https%3A%2F%2Fbs-uploads.toptal.io%2Fblackfish-uploads%2Fcomponents%2Fblog_domain_page%2Fcontent%2Ficon_file%2Ficon%2F1213900%2Fproducts-73025514deb4b12e780e3c3d639c5bc2.svg"
                  decoding="async"
                />Product</a
              >
            </li>
            <li>
              <a
                href="https://www.toptal.com/insights"
                aria-current="false"
                class="_1i8Y50mS"
                ><img
                  alt=""
                  data-checker=""
                  class="_3Ow9tdzp"
                  src="https://assets.toptal.io/images?url=https%3A%2F%2Fbs-uploads.toptal.io%2Fblackfish-uploads%2Fcomponents%2Fblog_domain_page%2Fcontent%2Ficon_file%2Ficon%2F1276516%2Finsights-3a2ed43a337ac057be7cf3752e3d9c82.svg"
                  decoding="async"
                />Toptal Insights</a
              >
            </li>
          </ul>
          <div
            data-testid="blog-menu-backdrop"
            class="-c8xPUoo"
            hidden=""
            tabindex="-1"
          ></div>
          <div class="_1vYrCH-a">
            <form
              name="blog-search"
              data-testid="blog-search-form"
              action="https://www.toptal.com/blog/search"
              class="_1lTuQIGZ"
            >
              <div class="ZfhpgT7h _1LMQMf8n">
                <svg
                  viewBox="0 0 22 22"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="22"
                  height="22"
                >
                  <path
                    d="M 9 3 C 5.6759952 3 3 5.6759952 3 9 C 3 12.324005 5.6759952 15 9 15 C 10.481205 15 11.830584 14.465318 12.875 13.582031 L 18.292969 19 L 19 18.292969 L 13.582031 12.875 C 14.465318 11.830584 15 10.481205 15 9 C 15 5.6759952 12.324005 3 9 3 z M 9 4 C 11.770005 4 14 6.2299952 14 9 C 14 11.770005 11.770005 14 9 14 C 6.2299952 14 4 11.770005 4 9 C 4 6.2299952 6.2299952 4 9 4 z "
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <button
                type="button"
                class="ZfhpgT7h _1LMQMf8n"
                aria-label="open search"
                aria-expanded="false"
              >
                <svg
                  viewBox="0 0 22 22"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="22"
                  height="22"
                >
                  <path
                    d="M 9 3 C 5.6759952 3 3 5.6759952 3 9 C 3 12.324005 5.6759952 15 9 15 C 10.481205 15 11.830584 14.465318 12.875 13.582031 L 18.292969 19 L 19 18.292969 L 13.582031 12.875 C 14.465318 11.830584 15 10.481205 15 9 C 15 5.6759952 12.324005 3 9 3 z M 9 4 C 11.770005 4 14 6.2299952 14 9 C 14 11.770005 11.770005 14 9 14 C 6.2299952 14 4 11.770005 4 9 C 4 6.2299952 6.2299952 4 9 4 z "
                    fill="currentColor"
                  ></path>
                </svg>
              </button>
              <div class="hFCL_lVN">
                <input
                  type="text"
                  aria-label="Search on the Toptal Blog"
                  autocomplete="off"
                  name="term"
                  placeholder="What are you looking for?"
                  value=""
                  class="_3k9GRvf3"
                /><input type="hidden" name="limit" value="11" /><button
                  type="submit"
                  class="NiI07n4x _1bcYCljm _1G_ocH1a _3McSaz1R"
                >
                  <span class="_197SkbCL">Search</span></button
                ><button
                  type="button"
                  class="_3qRr5c2U _1LMQMf8n"
                  aria-label="close search"
                  hidden=""
                >
                  <svg
                    viewBox="0 0 18 18"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="16"
                    height="16"
                  >
                    <g fill="transparent" stroke="currentColor">
                      <path d="M.75.75l16.5 16.5M17.25.75L.75 17.25"></path>
                    </g>
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>

    </main>
      </body>

</html>
